.Font{
text-align: center;
font-size: 120px;
padding-top: 100px;
color: #0000ff;
}
.Search{
text-align: center;
padding: 23px;
}
.Other{
text-align: right;
padding-top: 10px;
padding-right: 50px;
font-size: 15px;
}
h5{
text-align:center;
padding-top:264px;
font-size:15px;
}